# hts-skipper - comskip administration daemon for TVHeadend

[Unit]
Description=Comskip administration for TVHeadend

[Service]
EnvironmentFile=-/etc/default/hts-skipper
ExecStartPre=-/bin/sh -c '[ "$SKP_ENABLED" = "1" ] & [ ! -z "$SKP_DELAY" ] && sleep $SKP_DELAY; [ "$SKP_ENABLED" = "1" ]'
ExecStart=/etc/comskip/hts_skipper.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

